@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Libre Franklin", sans-serif;
}
body {      
    margin: 110px;
    background-color: #789;
  }
  h1 {
    color: aliceblue;
    font-weight: 300;
    font-style: normal;
    text-align: left;
  }
  header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all ease .55s;
    background-color: #2E958C;
}

.logo img{
    width: 20%;
    height: 20%;
    margin-right:40%;
}
.navlist a{
    font-size: 15px;
    font-weight: 400;
    color: bisque;
    margin-right:30%;
    transition: al ease .55s;
    
}

.navlist a:hover{
    color: plum;
}

h1 {
    margin-bottom: 20px; 
}
.Reservar{
    color: aliceblue;
    background-color: #130455;
}