@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Libre Franklin", sans-serif;
}

body{
    margin: 40px;
    background-image: url(../imgs/fondo1.jpg);
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    padding: 30px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all ease .55s;
    background-color: #3f0377;
}

.navlist{
    display: flex;
}

.navlist a{
    font-size: 15px;
    font-weight: 400;
    color: aliceblue;
    margin: 0 30px;
    transition: al ease .55s;
}

.navlist a:hover{
    color: rgb(189, 95, 189);
}

.logo img{
    width: 15%;
    height: auto;
}

.h-right{
    display: flex;
    align-items: center;
}

.h-right a{
    margin-right: 30px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    color: thistle;
    transition: all ease .55s;
}

.h-right a:hover{
    color: aliceblue;
}
span{
    color: aliceblue;
}
#menu-icon{
    font-size: 37px;
    color: antiquewhite;
    z-index: 10001;
    cursor: pointer;
}

section{
    padding: 0 12%;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-size: cover;
    background-position: center;
    gap: 30px;
    overflow-x: hidden;
}

.home-img img{
    width: 100%;
    height: auto;
}

.home-text span{
    padding: 11px 18px;
    background: #3f0377;
    border-radius: 10px;
    color: aliceblue;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 2px;
}

.home-text h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 1.3;
    margin: 22px 0;
    color: #3f0377;
}

.home-text p{
    width: 100%;
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
    color: #3f0377;
    line-height: 30px;
    margin-bottom: 35px;
}

.home-text i{
    height: 45px;
    width: 45px;
    background: #3f0377;
    color: aliceblue;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    border-radius: 12px;
    margin-right: 18px;
    margin-bottom: 50px;
    transition: all ease .55s;
}

.home-text i:hover{
    background: rgb(189, 95, 189);
    color: whitesmoke;
    transform: scale(1.09);
}

.btn{
    display: inline-block;
    padding: 15px 22px;
    color: aliceblue;
    background: #3f0377;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;
}

.btn:hover{
    border: 4px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(41, 38, 41);
}

.btn22{
    color: thistle;
    font-size: 16px;
    font-weight: 700;
    margin-left: 25px;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;
}

.btn22:hover{
    color: whitesmoke;
}

.social{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translateY(-50%);
}

.social a{
    display: flex;
    align-items: center;
    color: thistle;
    font-size: 16px;
    font-weight: 600;
    transition: all ease .55s;
}

.social img{
    margin-right: 5px;
    width: 22px;
    height: auto;
    color: azure;
}

.social a:hover{
    transform: translateY(-4px) scale(1.08);
}

/* Servicios*/

.servicio{
   
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 100px 0px;
}

.titulo h2{
    color: #3f0377;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #3f0377;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: aliceblue;
}

h5{
    color: aliceblue;
    font-size: 23px;
    margin-bottom: 15px;
}

.res p{
    color: aliceblue;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card a{
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 22px;
    border-radius: 25px;
    transition: .4s;
}

.card a:hover{
    background-color: transparent;
    color: aliceblue;
    border: 4px solid rgb(189, 95, 189);
    cursor: pointer;
}

@media (max-width: 1820px){
    header{
        padding: 15px 7%;
    }
    section{
        padding: 0 7%;
    }
}

@media (max-width: 1610px){
    :root{
        --h1-font: 4.2rem;
    }
    .home-img{
        height: 600px;
        width: 600px;
    }
    .home-img img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

@media(max-width: 1490px){
    :root{
        --h1-font: 3rem;
    }
    .home-img{
        height: 500px;
        width: 500px;
    }
}

@media(max-width: 1180px){
    .social{
        display: none;
    }
    section{
        padding: 70px 7%;
    }
    .home{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .home-text{
        order: 2;
        width: 100%;
    }
    .home-text p{
        width: 100%;
        max-width: 800px;
    }
    .home-img{
        height: 420px;
        width: 420px;
        margin: 20px auto;
    }
}

@media (max-width: 950px) {
    .navlist a{
        margin: 0 15px;
    }
}
@media (max-width: 780px){
    header{
        padding: 13px;
    }
    section{
        padding: 60px 5%;
    }
    #menu-icon{
        display: block;
        font-size: 43px;
    }
    .navlist{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 70px 50px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 100%;
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(32px);
        transition: all 0.5s ease-in-out;
    }
    .navlist a{
        display: block;
        padding: 0;
        margin: 0px 0px 22px 0px;
        font-size: 2rem;
    }
    .navlist.open{
        left: 0;
    }
}

@media (max-width: 530px){
    :root{
        --h1-font: 2.3rem;
    }
    .home-img{
        height: 400px;
        width: 400px;
        margin: 10px auto;
    }
}
/*Admin*/
.btn22{
    display: inline-block;
    padding: 15px 22px;
    color: aliceblue;
    background: #3f0377;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid transparent;
    text-transform: uppercase;
    word-spacing: 5px;
    transition: all ease .55s;  
}
.btn22:hover{
    border: 4px solid rgb(0, 0, 0);
    background: transparent;
    color: rgb(41, 38, 41);
}