{% extends "base.html" %}

{% load static %}

{% block title %} Restaurante {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="clase" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message}}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Restaurantes</h2>
        <div class="card">
            <div class="card-body">
                <form action={% url 'registroRestaurante' %} method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="number" id="txtId" name="txtId" class="form-control" placeholder="Escriba el id del producto" required>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Tipo de Platillo</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="txtPlatillo">
                            <option selected>Seleccione</option>
                            <option value="Desayuno">Desayuno</option> 
                            <option value="Almuerzo">Almuerzo</option>
                            <option value="Cena">Cena</option>
                            <option value="Postres">Postres</option>
                        </select>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombrePlato" name="txtNombrePlato" class="form-control" placeholder="Escriba el plato" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtPrecio" name="txtPrecio" class="form-control" placeholder="Escriba el valor" minlength="3" maxlength="50" required>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-success btn-block text-black">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Lista de Restaurantes</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id_producto</th>
                        <th>Tipo Platillo</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Tipo</th>
                        <th>Estado</th> 
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in restaurante %}
                    <tr>
                        <td>{{c.Id_producto}}</td>
                        <td>{{c.TipoPlatillo}}</td>
                        <td>{{c.Nombre}}</td>
                        <td>{{c.Precio}}</td>
                        <td>{{c.Id_servicio.servicio}}</td>
                        <td>{{c.Estado}}</td>
                        <td><a href="edicionRestaurante/{{c.Id_producto}}" class="btn btn-info">Editar</a></td>
                        <!--<td><a href="eliminacionRestaurante/{{c.Id_producto}}" class="btn btn-danger">Eliminar</a></td> -->
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}