{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitaciones</title>
    <link rel="icon" type="image/jpg" href="{% static 'imgs/logo.png' %}">
    <link rel="stylesheet" type="text/css" href={% static 'css/vista.css' %}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-s9YMS/EJQIh5SJPI9Oduaurlwlgpxdf3FC/iP5G6FAmZ8rJWIJde0QpLY+Jo3X6tO" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg" style="background-color: #130455;">
    <a class="navbar-brand text-light" href="{% url 'index' %}">Hotel Cerberus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'HabitacionesUsuario' %}">Habitaciones Hotel</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <br>
  <div class="container">
    <a href={% url 'HabitacionesUsuario' %} class="btn btn-primary return-button">Regresar</a>
  </div>
    <div class="container" style="width: 50%; justify-items: center;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
                <img class="d-block w-100" src="{% static 'imgs/sencilla1.jpg' %}" alt="First slide">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img class="d-block w-100" src="{% static 'imgs/doble1.jpg' %}" alt="Second slide">
            </div>
            <div class="carousel-item" data-bs-interval="3500">
                <img class="d-block w-100" src="{% static 'imgs/2.jpg' %}" alt="Third slide">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-light">Habitacion numero: {{ habitacion.Id_habitacion }}</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Descripción: {{ habitacion.id_tipo_hab.descripcion }}</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">El tipo de habitacion: {{ habitacion.id_tipo_hab.tipo }}</div>
          </div>
          <div class="col">
            <div class="p-3 border bg-light">Precio: {{ habitacion.id_tipo_hab.precio }}</div>
          </div>
        </div>
      </div>
    <div class="container">
        <a href="{% url 'ReservaCliente' Id_habitacion=habitacion.Id_habitacion %}" class="btn btn-outline-success btn-lg btn-block " style="background-color: #130455;" role="button" aria-pressed="true">¡Reservar!</a>
    </div>
</body>  
</html>