{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zonas Humedas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static 'css/serv.css' %}>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href={% url 'paginausu' %} class="logo">
            <img src={% static 'imgs/logo.png' %}>
        </a>

        <center><h1>Zonas Húmedas</h1></center>
        <ul class="navlist">
            <li><a href={% url 'paginausu' %}>Inicio</a></li>
           
        </ul>
    </header>

    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 150px; width:800px; margin-left:650px; border: 2px solid white;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
              <img src={% static 'imgs/spa.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
      
            <div class="item">
              <img src={% static 'imgs/spa1.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
              
              </div>
            </div>
          
            <div class="item">
              <img src={% static 'imgs/spa2.jpg' %} style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
        
          </div>
        </div>
      </div>
      <div class="desc1">
        <h2>Spa</h2>
        <p>Sumérgete en un mundo de indulgencia y rejuvenecimiento en nuestro exclusivo spa. 
        <p>Déjate llevar por la calma de nuestro espacio diseñado para relajar todos tus sentidos.</p> 
        <p>Disfruta de una amplia gama de tratamientos que van desde masajes revitalizantes y </p>
        <p>hasta envolturas corporales nutritivas.</p>
        <p>Con una atmósfera serena y atención personalizada, </p>
        <p>nuestro spa te ofrece una experiencia inolvidable de cuidado y renovación.</p>
      </div>

      <div class="container">
  
        <div id="myCarouse2" class="carousel slide" data-ride="carousel" style="margin-top: 150px; width:800px; margin-left:-330px; border: 2px solid white;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarouse2" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse2" data-slide-to="1"></li>
            <li data-target="#myCarouse2" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
              <img src={% static 'imgs/p1.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
      
            <div class="item">
              <img src={% static 'imgs/p2.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
              
              </div>
            </div>
          
            <div class="item">
              <img src={% static 'imgs/p3.jpg' %} style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
        
          </div>
        </div>
      </div>
      <div class="desc2">
        <h2>Piscina</h2>
        <p>Disfruta de un refrescante chapuzón en aguas cristalinas rodeadas de exuberante vegetación y elegantes instalaciones.</p>
        <p>Nuestra piscina es el lugar perfecto para relajarte al sol en cómodas tumbonas o refrescarte con un revitalizante baño.</p>
        <p>Con un ambiente relajado y acogedor, nuestra piscina es el escenario ideal para crear recuerdos inolvidables con amigos y familiares.</p>
        
      </div>

      <div class="container">
        <div id="myCarouse3" class="carousel slide" data-ride="carousel" style="margin-top: 150px; width:800px; margin-left:650px; border: 2px solid white;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarouse3" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse3" data-slide-to="1"></li>
            <li data-target="#myCarouse3" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
              <img src={% static 'imgs/ja1.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
      
            <div class="item">
              <img src={% static 'imgs/ja2.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
              
              </div>
            </div>
          
            <div class="item">
              <img src={% static 'imgs/ja3.jpg' %} style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
        
          </div>
        </div>
      </div>
      <div class="desc3">
        <h2>Jacuzzi</h2>
        <p>Déjate llevar por la sensación de burbujas de agua caliente que acarician tu cuerpo, aliviando tensiones y revitalizando tus sentidos. </p>
        <p>on su diseño elegante y jets de hidromasaje estratégicamente ubicados, nuestro jacuzzi te ofrece una experiencia de relajación incomparable.</p>
        <p>Disfruta de momentos de intimidad y conexión con tus seres queridos mientras te sumerges en el lujo de nuestro jacuzzi.</p>
        
      </div>
      
      <div class="container">
        <div id="myCarouse4" class="carousel slide" data-ride="carousel" style="margin-top: 150px; width:800px; margin-left:-330px; border: 2px solid white;">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarouse4" data-slide-to="0" class="active"></li>
            <li data-target="#myCarouse4" data-slide-to="1"></li>
            <li data-target="#myCarouse4" data-slide-to="2"></li>
          </ol>
      
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
      
            <div class="item active">
              <img src={% static 'imgs/sa1.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
      
            <div class="item">
              <img src={% static 'imgs/sa2.jpg' %}  style="width:100%;">
              <div class="carousel-caption">
              
              </div>
            </div>
          
            <div class="item">
              <img src={% static 'imgs/sa3.jpg' %} style="width:100%;">
              <div class="carousel-caption">
                
              </div>
            </div>
        
          </div>
        </div>
      </div>
      <div class="desc4">
        <h2>Sauna</h2>
        <p>Sumérgete en un ambiente cálido y reconfortante que te ayudará a liberar toxinas, aliviar tensiones musculares y mejorar la circulación sanguínea.</p>
        <p>Con sus elegantes bancos de madera y aromas relajantes, nuestro sauna te invita a disfrutar de momentos de relajación y renovación.</p>
        <p>Experimenta la tranquilidad y el bienestar en nuestro exclusivo sauna, donde el estrés se desvanece y la calma prevalece.</p>
        
      </div>
</body>
</html>