{% extends "base.html" %}

{% load static %}

{% block title %} Eliminar usuario {% endblock %}

{% block body %}

    <h1>Eliminar Usuario</h1>
    <br>
    <p>¿Estás seguro de que quieres eliminar este usuario?</p>
    <p>Nombre de usuario: {{ user.username }}</p>
    <p>Correo electrónico: {{ user.email }}</p>
    <br>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-block text-black">Confirmar eliminación</button>
    </form>
{% endblock %}