{% extends "base.html" %}

{% load static %}

{% block title %} Productos Bar {% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edicion Bar</h2>
        <div class="card">
            <div class="card-body">
                <form action={% url 'editarBar' %} method="POST">{% csrf_token %}
                    <div class="form-group py-2">
                        <input type="number" id="txtIdBar" name="txtIdBar" class="form-control" value="{{bar.Id_producto}}" placeholder="Escriba el id del id del producto" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtBebida" name="txtBebida" value="{{bar.TipoBebida}}" class="form-control" placeholder="Escriba el tipo de bebida" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="text" id="txtNombreBebida" name="txtNombreBebida" value="{{bar.Nombre}}" class="form-control" placeholder="Escriba nombre de la bebida" required>
                    </div>
                    <div class="form-group py-2">
                        <input type="number" id="txtPrecio" name="txtPrecio" value="{{bar.Precio}}" class="form-control" placeholder="Escriba el valor" required>
                    </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Estado</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="txtEstado">
                            <option selected>Seleccione</option>
                            <option value="En uso">En uso</option> 
                            <option value="No se usa">No se usa</option>
                            <option value="No hay Stock">No hay Stock</option>
                        </select>
                    </div>
                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-success btn-block text-black">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}